name: Sync to Hugging Face Hub
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # These lines fix the "missing or corrupt local objects" error
          git config lfs.allowincompletepush true
          git push --force https://arsusan:$HF_TOKEN@huggingface.co/spaces/arsusan/brain-tumor-detection-api main
